<template>
    <div class="p-4">
        <div class="group relative">
            <button class="bg-prim-dark-300 text-white px-4 h-10 rounded">
                <slot name="dropdown-button" />
            </button>
            <nav 
                tabindex="0"
                class="bg-prim-dark-100 invisible rounded w-60 absolute left-0 top-full transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1"
            >
                <ul class="py-1">
                    <slot name="dropdown-nav" />
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({

});
</script>
