<template>
    <ul id="array-rendering">
        <li 
            v-for="token in tokens" 
            :key="token.id"
        >
            <p> {{ token.id }} </p>
        </li>
    </ul>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
    data() {
        return {
            tokens: [],
        }
    },
    
    mounted() {
        this.indexTokens();
    },

    methods: {
        indexTokens(): void {
            axios.get("oauth/personal-access-tokens")
                .then(response => {
                    this.tokens = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },

        deleteToken(token: string): void {
            axios.delete("oauth/personal-access-tokens/" + token)
                .then(() => {
                    this.indexTokens();
                })
                .catch(error => {
                    console.log(error);
                });
        },

        createToken(name: string, scope: string[]): void {
            axios.post("oauth/personal-access-tokens", {
                name: name,
                scopes: scope,
            })
                .then(() => {
                    this.indexTokens();
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
});
</script>
